@use '../../../content/scss/' as *;

.button {
  background-color: $primary-color;
  color: $white-color;
  font-size: 15px;
  font-weight: 400;
  padding: 12px 16px;
  border-radius: 5px;
  &:hover {
    background-color: $primary-color-dark;
  }

  &.outline {
    border: 1px solid $primary-color;
    color: $primary-color;
    background-color: #fff;
    &:hover {
      background-color: $primary-color-light;
    }
  }

  &.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &.secondary {
    background-color: $black-color-2;
    &.outline {
      color: $black-color-2;
      border-color: $black-color-2;
      background-color: #fff;
      &:hover {
        background-color: rgb(42 43 50 / 10%);
      }
    }
  }
}
