@use '../../../content/scss/' as *;

.home-page {
  &__banner {
    margin-top: 72px;
    width: 100%;
    img {
      width: 100%;
    }
  }
}

@media (max-width: 760px) {
  .home-page {
    &__banner {
      margin-top: 0px;
    }
  }
}
