@use '../../content/scss/' as *;

.card-wrapper {
  padding: 0 100px 145px;
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 110px;
    margin-bottom: 50px;

    &--text {
      margin-top: 48px;
      h1 {
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        line-height: 56px;
        text-align: center;
        color: $black-color;
        text-transform: none;
      }
      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        margin-top: 15px;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 80px;
  }

  &__item {
    text-align: center;
    img {
      margin-bottom: 42px;
    }
  }
}

@media (max-width: 1600px) {
  .card-wrapper {
    padding: 0 72px 145px;
    &__head {
      gap: 64px;
    }
  }
}

@media (max-width: 1440px) {
  .card-wrapper {
    padding: 0 64px 120px;

    &__head {
      gap: 36px;
      &--text {
        h1 {
          font-size: 40px;
          line-height: 48px;
        }
      }
      &--coco {
        width: 280px;
      }
    }
  }
}

@media (max-width: 1180px) {
  .card-wrapper {
    padding: 0 54px 120px;

    &__head {
      gap: 36px;
      &--text {
        p {
          font-size: 16px;
          line-height: 18px;
        }
      }
      &--coco {
        width: 200px;
      }
    }
  }
}

@media (max-width: 960px) {
  .card-wrapper {
    padding: 0 32px 48px;

    &__head {
      gap: 20px;
      &--text {
        h1 {
          font-size: 28px;
          line-height: 36px;
        }
        p {
          font-size: 14px;
        }
      }
      &--coco {
        width: 140px;
      }
    }
  }
}

@media (max-width: 760px) {
  .card-wrapper {
    position: relative;
    &__head {
      &--coco {
        display: none;
      }
      p {
        width: 80%;
        margin: auto;
      }

      &--bell {
        display: block;
        position: absolute;
        top: 0;
        right: 32px;
        width: 100px;
        z-index: -1;
      }
    }
    &__list {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }
}
