@use '../../content/scss/' as *;

.main-layout {
  &__combine {
    width: 100%;
    height: fit-content;
    padding: 116px 100px 64px;
    background-image: url('../../content/assets/background.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__wrapper {
    background-color: $white-color;
    border-radius: 50px;
    width: 100%;
  }
}
