//Color
$primary-color: #ca0707;
$primary-color-dark: #a70000;
$primary-color-light: rgb(202 7 7 / 5%);
$black-color: #000000;
$black-color-2: #2b2c32;
$white-color: #ffffff;
$text-color-1: #000000;
$text-color-2: #383838;
$text-color-3: #505050;

// Font
$f-family: 'Roboto', sans-serif;
$f-family-head: 'Inter', sans-serif;
